<div id="rightview">
  <div class="container-fluid div-min-width aaaa" style="padding:0; min-width:360px;">
      <div class="row">
          <div class="col-lg-12" style="padding:0;">
              <% include minibluehead.ejs %>
              <div class="container">
                <div class="form-horizontal col-sm-3 col-md-3 col-lg-3"></div>
                <div class="form-horizontal col-sm-6 col-md-6 col-lg-6">
                  <h3 class="page-header" style="color:#707070">Create Community</h3>
                  <form action="/createcommunity" method="POST" enctype="multipart/form-data" >

                        <div class="form-group">
                            <input class="form-control" type="text" name="communityname" placeholder="Name" maxlength="70" required>
                        </div>

                        <div class="form-group">
                          <textarea name="communitydescription" type="text" id="communitydescription" class="form-control"  required></textarea>
                        </div>

                        <div class="form-group ">
                            <label style="color:#707070">Rule :</label>
                            <input class="radio radio-inline" type="radio" checked="" value="Direct" name="communitymembershiprule">Direct
                            <input class="radio radio-inline" type="radio" value="Permission" name="communitymembershiprule">Permission
                        </div>
                        <!-- <div class="form-group" style="display:none;">
                            <input class="form-control" id="file" name="communityImage" type="file">
                        </div> -->

                         <div class="form-group">
                          <div class="col-xs-4 col-sm-3">
                            <input type="file" id="imgBtn" name="myImage" accept="image/*" style="display:none;" >
                            <span class="btn btn-warning" id="imgpath">Upload Image</span>
                          </div>
                          <!-- <div class="col-xs-8 col-sm-9" style="overflow: scroll;white-space: nowrap;">
                            <p id="filename" style="font-size:18px;font-weight:bold;color:#707070"></p>
                          </div> -->
                        </div>

                        <!-- <div class="form-group" style="display:none">
                          <div class="col-xs-1 col-sm-1">
                              <input type="checkbox" class="checkbox-custom" style="outline: none;" id="check" onchange="appendData()">
                          </div>
                          <div class="col-xs-8 col-sm-9" style="font-weight:bold;margin-top:5px;color:#707070">
                              Local Community
                          </div>
                        </div> -->

                        <!-- <div class="form-group" id="dynamic">

                        </div> -->

                        <div class="form-group">
                                <input class="form-control btn btn-primary" type="submit" value="Create Community">
                        </div>
                  </form>
                </div>
              </div>
         </div>
      </div>
 </div>
</div>
