<nav id="navbar">

        <div class="container-fluid" style="padding:0;" >
            <div id="leftpanel" style="float:left;">
                 <a id="cq" class="navbar-brand" href="#">cq</a>


                    <a onclick="showsidebar()" id="openbox">
                        <span class="glyphicon glyphicon-th-large"></span>
                    </a>
                    <% if(obj.role == "admin") { %>
                     <span class="label label-success" id="leftadmin">
                        Admin
                    </span>
                    <% } %>
            </div>

            <div id="rightpanel" style="float:right;">

                <img src="<%= obj.photoname %>" onclick="editpage()" id="dpimage" style="height:40px;width: 40px;float:right;">

                <% if(obj.role == "admin") { %>
                    <span class="label label-success" id="rightadmin">
                       Admin
                   </span>
                   <% } %>

                <span class="label label-warning" id="sadmin" style="float:right;">
                    <%= obj.name %>
                </span>

            </div>
        </div>

</nav>
