<div id="logout-model" class="modal fade" role="dialog" style="top:30%">
    <div class="modal-dialog modal-sm">
        <div class="modal-content" style="padding:5px;">
            <div class="modal-header" style="border-style:none; text-align:center;">
                <h4 class="modal-title">Confirm Logout!</h4>
            </div>
            <div class="model-body">
              Are you sure you want to logout?
            </div>
            <div class="modal-footer" style="border-style:none;">
                <button onclick="open_logout()" type="button" class="btn btn-success" data-dismiss="modal">Yes</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>
