
  </head>
  <body>

      <%- include('header'); -%>
    <div id="viewscreen" >

        <%- include('sidebar'); -%>
        <%- include('commonprofile'); -%>
    </div>

  </body>
  <%- include('js'); -%>
