<div class="container-fluid community-header-top" style="height:50px;padding-top:6px;">
    <div class="col-sm-4 community-sub-head" style="">
        <a class="btn community-head-btn active" href="/community/communitypanel">
          <i class="fa fa-users"></i>
        </a>
        <a class="btn community-head-btn" style="margin-left:10px" href="/community/list">
          <i class="fa fa-search"></i>
        </a>
    </div>
    <div class="col-sm-4 col-sm-push-4 pc" style="padding:0 50px 0 0">
    <input class="form-control searchCommunityDiscover" type="text" id="searchCommunitybox" placeholder="Search Community...">
    </div>
</div>
