<p style="display:none;"><%= obj.switch %></p>
  <div id="sidebar">
      <ul class="sidebar-list">

          <li class="list" id="mobile-pic">
              <div style="margin-right:10px">
                  <center>
                      <img src="<%= obj.photoname %>" id="mobile-img">
                  </center>
              </div>
          </li>

          <li class="list" id="bars">
          <a onclick="showsidebar()" id="open">
              <span class="list-span">
                  <i class="fas fa-bars" id="icon"></i>
              </span>
                  cq
          </a>
          </li>

          <% if(obj.role=="admin" && obj.switch == "admin") { %>
          <li class="list home">
              <a onclick="open_home_page()">
                  <span class="list-span">
                      <i class="fas fa-home" id="icon"></i>
                  </span>
                  Home
              </a>
          </li>

          <li class="list adduser">
              <a onclick="open_adduser_page()">
                  <span class="list-span">
                      <i class="fas fa-plus-square" id="icon"></i>
                  </span>
                  Add User
              </a>
          </li>

          <li class="list userslist">
              <a onclick="open_userlist_page()">
                  <span class="list-span">
                      <i class="fas fa-list" id="icon"></i>
                  </span>
                  Users List
              </a>
          </li>

          <li class="list communitylist">
              <a onclick="open_communitylist_page()">
                  <span class="list-span">
                      <i class ="	fas fa-list-alt" id="icon"></i>
                  </span>
                  Community List
              </a>
          </li>
          <% } %>

          <% if(obj.switch == 'user' || obj.role == 'user') { %>
            <li class="list home" onclick="editpage()">
                <a>
                    <span class="list-span">
                        <i class="fas fa-user" id="icon"></i>
                    </span>
                     <%= obj.name %>
                </a>
            </li>

            <li class="list communitypage" onclick="open_communities_page()">
                <a>
                    <span class="list-span">
                        <i class="fas fa-users" id="icon"></i>
                    </span>
                    Communities
                </a>
            </li>

            <% } %>

          <% if( obj.role == 'admin' ) { %>  

          <li class="list switchasuser" onclick="open_switchmodel_page()">
              <a>
                  <span class="list-span">
                      <i <% if(obj.switch == 'admin'){ %> class="fas fa-toggle-off" <% } %> <% if(obj.switch == 'user'){ %> class="fas fa-toggle-on" <% } %> id="icon"></i>
                  </span>
                  Switch As<% if(obj.switch == 'admin'){ %> User <% } %> <% if(obj.switch == 'user'){ %> Admin <% } %>
              </a>
          </li>

          <% } %>

          <% if(obj.switch == "admin") { %>
          <li class="list tagpanel">
              <a onclick="open_tag_page()">
                  <span class="list-span">
                      <i class="fas fa-tags" id="icon"></i>
                  </span>
                  Tag Panel
              </a>
          </li>
          <% } %>

          <li class="list changepassword">
              <a onclick="open_changepassword_page()">
                  <span class="list-span">
                      <i class="fas fa-lock" id="icon"></i>
                  </span>
                  Change Password
              </a>
          </li>

          <li class="list background" onclick="open_logout()"> 
              <a>
                  <span class="list-span">
                      <i class="fas fa-sign-out-alt" id="icon"></i>
                  </span>
                  Logout
              </a>
          </li>

      </ul>
  </div>
  <p id="personid" style="display: none;"><%= obj._id %></p>
