<div id="sidebar">
    <ul class="sidebar-list">
        <li class="list" id="mobile-pic">
            <div style="margin-right:10px">
                <center>
                    <img src=<%= obj.photoname %> id="mobile-img">
                </center>
            </div>
        </li>

        <li class="list" id="bars" onclick="showsidebar()">
        <a id="open">
            <span class="list-span">
                <i class="fas fa-bars" id="icon"></i>
            </span>
            cq
        </a>
        </li>

        <li class="list home" onclick="open_home_page()">
            <a>
                <span class="list-span">
                    <i class="fas fa-user" id="icon"></i>
                </span>
                 <%= obj.name %>
            </a>
        </li>

        <li class="list communitypage" onclick="open_communities_page()">
            <a>
                <span class="list-span">
                    <i class="fas fa-users" id="icon"></i>
                </span>
                Communities
            </a>
        </li>

        <li class="list switchadmin" onclick="open_switchmodel_page()">
            <a>
                <span class="list-span">
                    <i class="fas fa-toggle-on" id="icon"></i>
                </span>
                Switch As Admin
            </a>
        </li>

        <li class="list changepassword" onclick="open_changepassword_page()">
            <a>
                <span class="list-span">
                    <i class="fas fa-lock" id="icon"></i>
                </span>
                Change Password
            </a>
        </li>

        <li class="list" onclick="open_logout()">
            <a>
                <span class="list-span">
                    <i class="fas fa-sign-out-alt" id="icon"></i>
                </span>
                Logout
            </a>
        </li>
    </ul>
</div>
