
  <div id="switch-model" class="modal fade" role="dialog" style="top:30%;">
      <div class="modal-dialog modal-sm">
          <div class="modal-content" style="padding:5px;">
              <div class="modal-header" style="border-style:none; text-align:left;">
                  <h4 class="modal-title" id="switchmodel-title"></h4>
              </div>
              <div class="model-body">
              Do you really want switch state...
              </div>
              <div class="modal-footer" style="border-style:none;">
                  <button id="yes-switch" type="button" class="btn btn-success" data-dismiss="modal">Yes</button>
                  <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
              </div>
          </div>
      </div>
  </div>
