<nav id="navbar">

        <div class="container-fluid" style="padding:0;" >
            <div id="leftpanel" style="float:left;">
                 <a id="cq" class="navbar-brand" href="#">cq</a>


                    <a onclick="showsidebar()" id="openbox">
                        <span class="glyphicon glyphicon-th-large"></span>
                    </a>
                    <!-- <span class="label label-success" id="leftadmin">
                        Admin
                    </span> -->
            </div>

            <div id="rightpanel" onclick="open_home_page()" style="float:right;">

                <img src="<%= obj.photoname %>" id="dpimage" style="height:40px;width: 40px;float:right;">

                <!--
                <span class="label label-success" id="rightadmin" style="float:right;">
                    Admin
                </span> -->

                <span class="label label-warning" id="sadmin" style="float:right;">
                    <%= obj.name %>
                </span>

            </div>
        </div>

</nav>
