
    <%- include('partials/commonhead'); -%>
    <link rel="stylesheet" href="/adduser.css">
    <link rel="stylesheet" href="/common.css">
    <title>CQ</title>
  </head>
  <body>

      <%- include('partials/header'); -%>

    <div id="viewscreen">
      <%- include('partials/sidebar'); -%>
      <div id="rightview">
       <div class="container-fluid div-min-width" style="padding:0">
              <div class="row">
                <div class="col-lg-12" style="padding:0">
                  <div class="container">
                    <div class="col-sm-3">
                    </div>
                    <div class="col-sm-6" style="background-color:#fff;border:5px solid rgba(0,0,0,0.1);margin-top:40px">
                      <br>
                        <h1>Add User</h1>
                          <form class="" action="/adduser" method="POST" >
                            <div class="alert alert-danger" style="display: none;" id="wrong-message-display" style="margin:10px;">
                              <strong id="wrong-message-display-text"></strong>
                            </div>
                            <div class="col-sm-12" >
                              <div class="form-group">
                                <input type="text" class="form-control" name="name" id="name" placeholder="Name" required />
                              </div>
                              <br>

                              <div class="form-group">
                                <input type="text" class="form-control" placeholder="Username" name="username" id="username" autocomplete="off" required />
                              </div>
                              <br>

                              <div class="form-group">
                                <input type="password" placeholder="Passsword" class="form-control" id="password" name="password" required />
                              </div>
                              <br>

                              <div class="form-group">
                                <input type="text" name="phone" placeholder="Phone" class="form-control" id="phone" maxlength="10" required>
                              </div>
                              <br>

                              <div class="form-group">
                                <input type="text" placeholder="City" class="form-control" id="city" name="city" required>
                              </div>


                              <p style="font-weight:bold;">Role:</p>
                              <div class="form-group">
                                <select id="role" class="input-field" name="role" required>

                                  <option value="user">User</option>
                                  <option value="admin">Admin</option>
                                </select>
                              </div>

                              <div class="form-group" style="display:inline-block;">
                                <input type="submit" name="submit" value="Add User" class="btn btn-success" style="margin:1px" >
                              </div>

                              <div class="form-group" style="display:inline-block;">
                                <input type="submit" onclick="open_home_page()" name="cancel" value="Cancel" class="btn btn-danger" style="margin:1px" >
                              </div>
                            </div>
                          </form>

                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
  </body>
  <script type="text/javascript" src="/sidebar.js"></script>
  <script>

    $('form').submit(function()
    {
      let pattern = /[6-9]\d{9}/;
      let phone = $('#phone').val();
      // console.log(phone.search(pattern));
      if(phone.length>10 || phone.search(pattern) == -1)
      {
        event.preventDefault();
        showWrongMessageScreen("Enter Valid Phone Number,must Start with 6|7|8|9 and have excatly 10 digits");
      }
      else {
        let obj = new Object();
        obj.username = $('#username').val();
        pattern = /^[A-Za-z]+\d+@gmail.com$/
        if(obj.username.search(pattern) == -1)
        {
          event.preventDefault();
          showWrongMessageScreen("Provide valid Username,must have atleast one character followed by a digit ending with @gmail.com,For ex as1@gmail.com is valid username");
        }
        else 
        {
          let request = new XMLHttpRequest();
          request.open('POST','/findEmail');
          request.setRequestHeader("Content-Type","application/json");
          request.send(JSON.stringify(obj));
          request.onload = () => {
            console.log(request.responseText);
            if(request.responseText == "1")
            {
              event.preventDefault();
              showWrongMessageScreen("Username is already taken");
            }
          }
        }
      }
    })

    function showWrongMessageScreen(message)
    {
      $('#wrong-message-display').show();
      $('#wrong-message-display-text').html(message);
    }

  </script>
</html>
