
    <% include partials/commonhead.ejs %>
    <link rel="stylesheet" href="switchcommunityhome.css">
    <link rel="stylesheet" href="trumbowyg.css">
    <script type="text/javascript" src="trumbowyg.min.js"></script>
    <style>
      #searchCommunitybox {
        display: none;
      }
    </style>
  </head>
  <body>
    <% include partials/userheader.ejs %>
    <div id="viewscreen" >
        <% include partials/usersidebar.ejs %>
        <% include partials/commoncreatecommunity.ejs %>
    </div>
  </body>
  <script type="text/javascript" src="/usersidebar.js">  </script>
  <script>

    $(document).ready(function() {
       $.trumbowyg.svgPath="trumbowyg.svg"
       $("#communitydescription").trumbowyg();
    })
  </script>
</html>
