
  <% include partials/commonhead.ejs %>
  <link rel="stylesheet" href="/managecommunity.css" />
  <link rel="stylesheet" href="/Discussion.css" />

  </head>
  <body>
    <p id="id" style="display:none;"><%= commobj._id %></p>
    <% include partials/header.ejs %>
    <div id="viewscreen">
      <% include partials/sidebar.ejs %>
      <div id="rightview">
        <div class="container-fluid div-min-width" style="padding:0; min-width:360px;">
            <div class="row">
                <div class="col-lg-12">
                  <% include partials/commoncommunitytop.ejs %>
                    <div class="container" style="padding: 0 20px 0 20px;">
                      <div class="panel panel-default allSidesSoft" style="border-radius: 0; border: 1px solid rgb(182, 182, 182) !important;">
                        <div class="panel-body" style="padding:5px;background:#f9f9f9;">
                            <div class="col-sm-1 col-xs-3">
                              <a href="">
                                <img src="<%= commobj.communityimage %>" class="discussion-com-profile-pic allSidesSoft" style="border:2px solid #fff">
                              </a>
                            </div>
                            <p class="col-sm-11 col-xs-9 discussion-heading">
                              Start a discussion
                            </p>
                        </div>
                        
                        <form action="" id="createDiscussionForm" method="POST">
                          
                            <div class="discussion-panel-body panel-body">
                              <div class="col-sm-12 col-xs-12" style="padding:0;border-top: 1px solid white;">
                                <input type="text" style="width:100%;" class="discussion-input-title" name="discussiontitle" placeholder="Enter a discussion title....." id="discussion-title" autocomplete="off" required="">
                              </div>
                            </div>

                            <div class="panel-body discussion-body" style="display:block;">

                                <div class="col-sm-12 col-xs-12" style="padding:0;border-top: 1px solid white;">
                                    <textarea class="discussion-body-textarea" name="discussiondetail" placeholder="Enter discussion details" id="discussion-details" autocomplete="off" required="" style="height: 32px;"></textarea>
                                </div>

                                <div class="tag-conatiner-custom-div">
                                  <textarea class="form-control" name="discussiontags" rows="" cols="" placeholder="Enter Tag..." ></textarea>
                                </div>

                                <div class="col-sm-12 col-xs-12" style="padding:0;">
                                  <a class="discussion-image-btn" id="discussionImageClickBtn" style="display: block;"><i class="fa fa-image"></i></a>
                                  <button type="submit" class="btn btn-primary" style="float:right">
                                    <p class="discussion-post-btn-txt" style="display: block;">Post</p>
                                  </button>
                                </div>

                            </div>

                        </form>

                        <div class="panel-footer"></div>
                      </div>
                    </div>
                    <div id="discussionsList">
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </body>
   <script type="text/javascript" src="/sidebar.js"></script>
   <script type="text/javascript" src="/discussion.js"></script>
   <script>
     window.onload = function()
     {
        id = document.getElementById("id").textContent;
        let obj = Object();
        obj.commid = id;
        let request = new XMLHttpRequest();
        request.open('POST','/getDiscussion');
        request.setRequestHeader("Content-Type","application/json");
        request.send(JSON.stringify(obj));
        request.onload = function()
        {
          var data = JSON.parse(request.responseText);
          console.log(data);

          for(let i in data.communitydiscussion)
          {
            addtoDiscussionsDOM(data.communitydiscussion[i]);
          }
          $('.comment-panel').hide();
          $('.all-comments-box').hide();
        }
     }

     $('#createDiscussionForm').submit(function()
      {
        event.preventDefault();
        let obj = $('form').serializeArray();
        console.log(obj);
        obj = serializeObject(obj);
        obj.communityid = id;
        console.log(obj);
        
        let request = new XMLHttpRequest();
        request.open('POST','/createDiscussion');
        request.setRequestHeader("Content-Type","application/json");
        request.send(JSON.stringify(obj));
        request.onload = function()
        {
          obj = JSON.parse(request.responseText);
          obj.discussioncomments = [];
          addtoDiscussionsDOM(obj);
          $('.comment-panel').hide();
          $('.all-comments-box').hide();
        }
      })

   </script>
</html>
