<%- include('partials/commonhead'); -%>
    <link rel="stylesheet" href="/switchcommunityhome.css">
    <link rel="stylesheet" href="/trumbowyg.css">
    <script type="text/javascript" src="/trumbowyg.min.js"></script>

    <style>
      #searchCommunitybox {
        display: none;
      }
    </style>

      </head>
      <body>
        <%- include('partials/header'); -%>
        <div id="viewscreen">
            <%- include('partials/sidebar'); -%>
            <div id="rightview">
              <div class="container-fluid div-min-width aaaa" style="padding:0; min-width:360px;">
                  <div class="row">
                      <div class="col-lg-12" style="padding:0;">
                          <%- include('partials/minibluehead') -%>
                          <div class="container">
                            <div class="form-horizontal col-sm-3 col-md-3 col-lg-3"></div>
                            <div class="form-horizontal col-sm-6 col-md-6 col-lg-6">
                              <h3 class="page-header" style="color:#707070">Create Community</h3>
                              <form action="/createcommunity" method="POST" id="createCommunityForm" >
            
                                    <div class="form-group">
                                        <input class="form-control" type="text" name="communityname" placeholder="Name" maxlength="70" required>
                                    </div>
            
                                    <div class="form-group">
                                      <textarea name="communitydescription" type="text" id="communitydescription" class="form-control"  required></textarea>
                                    </div>
            
                                    <div class="form-group ">
                                        <label style="color:#707070">Rule :</label>
                                        <input class="radio radio-inline" type="radio" checked="" value="Direct" name="communitymembershiprule">Direct
                                        <input class="radio radio-inline" type="radio" value="Permission" name="communitymembershiprule">Permission
                                    </div>
                                    
                                    <!-- <form id="communitypicform" method="post" enctype="multipart/form-data" action="/community/uploadImage/" >
                                     <div class="form-group">
                                      <div class="col-xs-4 col-sm-3">
                                        <input type="file" id="imgBtn" name="myImage" accept="image/*" style="display:none;" >
                                        <span class="btn btn-warning" id="imgpath">Upload Image</span>
                                      </div>

                                     </div>
                                    
                                  </form> -->

                                  <div class="form-group">
                                    <input class="form-control btn btn-primary" type="submit" value="Create Community">
                                  </div>

                              </form>
                            </div>
                          </div>
                     </div>
                  </div>
             </div>
            </div>
            
        </div>
      </body>
      <script type="text/javascript" src="/sidebar.js"></script>
      <script>

        // $('#createCommunityForm').submit(function()
        // {
        //   event.preventDefault();
        //   console.log('form held');
        //   if($('#imgpath').html() == 'Upload Image')
        //   {
            
        //   }
        //   else {
            
        //   }
        // })

        $(document).ready(function(){
           $.trumbowyg.svgPath="/trumbowyg.svg"
           $("#communitydescription").trumbowyg();
        })

        // document.getElementById('imgpath').onclick=function()
        // {
        //   document.getElementById('imgBtn').click();
        // }

        // document.getElementById('imgBtn').onchange=function()
        // {
        //   document.getElementById('imgpath').innerHTML=document.getElementById('imgBtn').files[0].name;
        // }
        
      </script>
      </html>
