
  <% include partials/commonhead.ejs %>
  <link rel="stylesheet" href="editinfo.css">
  <link rel="stylesheet" href="blueimage.css">
  </head>
  <body>

    <% include partials/header.ejs %>

    <div id="viewscreen">

      <% include partials/sidebar.ejs %>
      <% include partials/commoneditinfo.ejs %>
    </div>

  </body>

  <script type="text/javascript" src="editinfo.js"></script>
  <% include partials/js.ejs %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  </html>
