
  <%- include('partials/commonhead'); -%>
  <link rel="stylesheet" href="editinfo.css">
  <link rel="stylesheet" href="blueimage.css">
  </head>
  <body>

    <%- include('partials/header'); -%>

    <div id="viewscreen">

      <%- include('partials/sidebar'); -%>
      <%- include('partials/commoneditinfo'); -%>
    </div>

  </body>

  <script>

      function openeditpage()
      {
        // window.location = '/home'
        window.location = '/home'
      }
      $('form').submit(function()
      {
        let pattern = /[6-9]\d{9}/;
        let phone = $('#phone').val();
        if(phone.length>10 || phone.search(pattern) == -1)
        {
          event.preventDefault();
          showWrongMessageScreen("Enter Valid Phone Number,must Start with 6|7|8|9 and have excatly 10 digits");
        }
      })

      function showWrongMessageScreen(message)
      {
        $('#wrong-message-display').show();
        $('#wrong-message-display-text').html(message);
      }
  </script>
  <script src="/sidebar.js"></script>
  <script>
    $("#changeProfilePicBtn").change(function()
    {
      // if($("label[for='changeProfilePicBtn']").html()=='Confirm')
      // {
      //     console.log(":img uploaded");
      // }
      // else {
        readURL(this);
        $("#changeProfilePicBtn").hide();
        $("label[for='changeProfilePicBtn']").hide();
        $('#submitImage').show();
        $('#btnDiscard').show();
        // $('#changeProfilePicBtn').attr('type','button');
    });

    $('#btnDiscard').click(function()
    {
      $('#btnDiscard').hide();
      $('#submitImage').hide();
      $("#changeProfilePicBtn").show();
      $("label[for='changeProfilePicBtn']").show();
      $('#community-profile-image').attr('src',$('#id').html());
    })

    function readURL(input) {
      if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function(e) {
          $('#community-profile-image').attr('src', e.target.result);
        }

        reader.readAsDataURL(input.files[0]);
      }
    }
  </script>

  </html>
