
  <html>
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>CQ</title>
      <link rel="stylesheet" href="notactive.css">
    </head>
    <body>
      <header>
        <center>
          <h2>cq</h2>
        </center>
      </header>
      <div class="container" style="padding-top:100px; height:100vh;">

        <center>
          <img src="404.png" class="errpic rotate">
        </center>

        <center>
        <div class="alert allSides" style="background:#222D3C;color:#fff;">
          <p>
            <strong>Error: Unable to login you are deactivated contact site admin...</strong>
          </p>
        </div>
        </center>

      </div>
    </body>
  </html>
