<% include partials/commonhead.ejs %>
<link rel="stylesheet" href="changepassword.css">

  <style>

      .changepassword {
        background-color: #337AB6;
        color: white;
      }

  </style>

  </head>
  <body>
    <% include partials/header.ejs %>
    <div id="viewscreen">

        <% include partials/switchsidebar.ejs %>
        <% include partials/commonchangepassword.ejs %>

    </div>
  </body>
  <script type="text/javascript" src="switchsidebar.js"></script>
  <script type="text/javascript" src="changepassword.js"></script>
  </html>
