<% include partials/commonhead.ejs %>
    <link rel="stylesheet" href="/switchcommunityhome.css">
    <link rel="stylesheet" href="/trumbowyg.css">
    <script type="text/javascript" src="/trumbowyg.min.js"></script>

    <style>
      #searchCommunitybox {
        display: none;
      }
    </style>

      </head>
      <body>
        <% include partials/header.ejs %>
        <div id="viewscreen">
            <% include partials/sidebar.ejs %>
            <% include partials/commoncreatecommunity.ejs %>
        </div>
      </body>
      <script type="text/javascript" src="/sidebar.js"></script>
      <script>

        $(document).ready(function(){
           $.trumbowyg.svgPath="/trumbowyg.svg"
           $("#communitydescription").trumbowyg();
           console.log("jhhhhhhhhhhh");
        })

        document.getElementById('imgpath').onclick=function()
        {
          document.getElementById('imgBtn').click();
        }

        document.getElementById('imgBtn').onchange=function()
        {
          document.getElementById('imgpath').innerHTML=document.getElementById('imgBtn').files[0].name;
        }
      </script>
      </html>
