
  <% include partials/commonhead.ejs %>
  <link rel="stylesheet" href="blueimage.css">
  <style>

    .allSidesSoft {
      box-shadow: 0 3px 10px 0 rgba(115,143,147,.3);
    }

    .middle {
      transition: .5s ease;
      opacity: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      text-align: center;
    }

  </style>
  </head>
  <body>

    <% include partials/header.ejs %>

    <div id="viewscreen">

      <% include partials/sidebar.ejs %>
      <% include partials/commoneditinfo.ejs %>
    </div>

  </body>

  <script type="text/javascript" src="editinfo.js"></script>
  <script type="text/javascript" src="sidebar.js"></script>
  </html>
