<% include partials/commonhead.ejs %>
<link rel="stylesheet" href="profile.css">
<link rel="stylesheet" href="blueimage.css">

  <style>

      .home {
        background-color: #337AB6;
        color: white;
      }

      .editbutton {
        display: block;
      }

  </style>

  </head>
  <body>
    <% include partials/header.ejs %>
    <div id="viewscreen">

        <% include partials/switchsidebar.ejs %>
        <% include partials/commonprofile.ejs %>

    </div>
  </body>
  <script type="text/javascript" src="switchsidebar.js"></script>
  <script>
    function aslieditpage() {
      window.location = '/editinfo'
    }
  </script>
  </html>
