
    <% include partials/commonhead.ejs %>
    <style>
      #searchCommunitybox {
        display: none;
      }
    </style>
    <link rel="stylesheet" href="/switchcommunityhome.css">
      </head>
      <body>
        <% include partials/header.ejs %>
        <div id="viewscreen">
            <% include partials/sidebar.ejs %>
            <% include partials/commoncommunity.ejs %>
         </div>
      </body>
      <script type="text/javascript" src="/sidebar.js"></script>
      <script type="text/javascript" src="/switchcommunityhome.js"></script>
      <script type="text/javascript">
        window.onload = function()
        {
          console.log(":djkdskj")
        }
      </script>
      </html>
