
  .div-min-width {
    min-width: 360px;
  }

  .changepassword {
    background-color: #337AB6;
    color: white;
  }

  h1 {
    font-size: 36px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 500;
    line-height: 1.1;
  }

  #submit-button {
    cursor: pointer;
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
    padding: 6px 12px;
    border: 1px solid transparent;
    border-radius: 0;
    width: 75px;
  }

  #wrong {
    margin-top: 10px;
    display: none;
  }

  #right {
    margin-top: 10px;
    display: none;
  }
