.div-min-width
{
    min-width: 368px;
}

#pagename-icon
{
    float:left;
    border: 2px solid #2D312C;
    background-color: #2D312C;
    color: #fff;
    font-weight: bold;
    box-shadow: 0 0 11px black;
}

.actionbtns {
    margin: 5px;
}

@media (min-width:768px)
{
    #container-parent
    {
        margin-left: 40px;
        margin-right: 20px;
    }

}

.CommunityProfilePic {
    height: 100px;
    width: 100px;
    float: left;
}

#CommunityInfoPop {
    margin-left: 20%;
    margin-top: 7%;
    font-weight: bold;
    font-size: 15px;
    word-wrap: break-word;
}

@media (max-width:768px)
{
    .div-min-width {
      overflow-x: scroll;
    }
}

.communitylist {
  background-color: #337AB6;
  color: white;
}
