
    .aaaa {
      margin-left:0px;
    }

  .cpic {
    background: rgb(255, 255, 255) !important;
    height: 50px;
    width: 50px;
    border: 3px solid #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
  }

  .community-short-btn {
    float: right;
    margin-top: 25px;
    color: #7D7D7D;
    font-size: 15px;
    cursor: pointer !important;
    float: right;
    text-decoration: none;
    text-transform: capitalize;
  }

  .community-div {
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-color: #CCCCCC;
    }

  .communitypage {
    background-color: #337AB6;
    color: white;
  }

  .community-header-top {
    width: 100%;
    background-image: linear-gradient(to bottom, #4ba2b7, #42a6be, #38aac6, #29adcd, #0fb1d5);
    /* text-align: center; */
    height: 180px;
  }

  .community-head-btn {
    border: 1px solid #fff;
    color : white;
    margin-left: 38%;
  }

  .community-panel-main-div {
    border: 0;
    border-radius: 0;
    margin-top: 0px;
  }

  .allSidesSoft {
    box-shadow: 0 3px 10px 0 rgba(115,143,147,.3);
  }

  @media (min-width: 768px) {
    .community-panel-main-div {
      margin-top: 50px;
    }

    .community-header-top {
      /* text-align: left; */
    }

    .community-head-btn {
        margin-left: 50px;
    }

    .aaaa {
      margin-left: 65px;
    }

  }
