
body {
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  background-color: #F3F4F4;
}

.editbutton {
  display: block;
}

.home {
  background-color: #337AB6;
  color: white;
}
